/* Default page styling */
* {
  font-family: "Old Standard TT", serif;
  background-color: #f5f5dc;
  color: #000000;
  box-sizing: border-box;
}

body {
  width: 50%;
  margin: 0 auto;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header and navbar styling */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-weight: 500;
}

/* Styles for the specific Twitter link */
h1 a[href="https://twitter.com/itsMattMcCane"]
{
  color: #000000;
  text-decoration: none;
  transition: color 0.3s, text-decoration 0.3s; /* Smooth color and text-decoration transition */
}

/* Hover styles for the specific Twitter link */
h1 a[href="https://twitter.com/itsMattMcCane"]:hover
{
  color: #000000;
  text-decoration: none;
  font-weight: 100;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5em;
}

ul {
  display: inline-flex;
  list-style: none;
}

li {
  padding: 20px;
  font-size: 1.1em;
}

/* Let user know it's a link--by keeping it underlined */

/* a {
   text-decoration: none; 
}*/

/* Link animations */
a:link {
  color: #000000;
}

a:visited {
  color: #000000;
}

a:focus {
  color: #000000;
}

a:hover {
  color: #000000;
  text-decoration: underline;
  font-weight: 600;
}

a:active {
  color: #000000;
  font-weight: 600;
}

/* Main content  */

main {
  flex: 1;
}

figure {
  border: 5px solid black;
  width: 60%;
  height: 8em;
  border-radius: 1.5rem;
  justify-content: right;
  align-items: center;
  display: flex;
  box-shadow: 10px 10px;
  margin-left: -2.6em;
  margin-top: 4.3em;
}

h2 {
  font-size: 3em;
  padding-right: 0.5em;
  display: flex;
  align-items: center;
  border-radius: 1.5rem;
}

.emoji-hand,
h2,
figure {
  background-color: #deb887;
}

/* Hand waving animation */
.emoji-hand {
  padding-left: 0.5rem;
  font-size: 1.5em;
  padding-right: 16px;
  border-radius: 1.4em;
  display: inline-block;
  animation: wave 0.5s ease-in-out infinite;
}

@keyframes wave {
  0%,
  100% {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(3deg);
  }
}

/* Paragraph content  */

article {
  display: flex;
  font-size: 1.1rem;
  font-weight: 500;
  flex-direction: column;
  line-height: 1.6;
}

p.welcome-content {
  font-size: 1.1em;
  font-weight: bolder;
}

/* Footer content  */

footer {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}

.left-content,
.right-content {
  display: flex;
  align-items: center;
  margin-left: -1.25em;
}

.right-content {
  margin-left: auto; /* Pushes the social icons to the right */
}

.footer-content {
  margin: 0; /* Remove default margin */
}

.fa-brands {
  font-size: 16px;
  margin-left: 30px;
}

/* Projects Page Styling  */

.myProjects .slide-image {
  width: 100%;
  height: 600px;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.myProjects {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #000000;
  font-weight: bold;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.text {
  color: #000000;
  font-size: 2em;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #deb887;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #000000;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* Media queries */
/* Mobile Devices */
@media only screen and (max-width: 480px) {
  figure {
    margin-left: 10em;
    box-shadow: none;
    border: none;
  }

  p.welcome-content {
    font-size: 1.7rem;
    font-weight: bolder;
    line-height: normal;
  }

  header {
    display: block;
    position: relative;
    top: 10px;
  }

  nav {
    position: relative;
    right: 50px;
    margin-top: -13px;
    padding-top: 1px;
  }

  footer {
    display: block;
    position: relative;
    bottom: 20px;
  }

  .left-content {
    margin-bottom: 30px;
  }
  .right-content {
    margin-left: auto;
    position: relative;
    right: 50px;
  }
}

/* Tablet Devices */
@media only screen and (min-width: 481px) and (max-width: 768px) {
}

/* Desktop Devices */
@media only screen and (min-width: 769px) {
}
