/* Default page styling */
* {
  font-family: "Old Standard TT", serif;
  background-color: #f5f5dc;
  color: #000000;
  box-sizing: border-box;
}

body {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header and navbar styling */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

h1 {
  font-weight: 500;
  text-align: center;
}

/* Styles for the specific Twitter link */
h1 a[href="https://twitter.com/itsMattMcCane"]
{
  color: #000000;
  text-decoration: none;
  transition: color 0.3s, text-decoration 0.3s; /* Smooth color and text-decoration transition */
}

/* Hover styles for the specific Twitter link */
h1 a[href="https://twitter.com/itsMattMcCane"]:hover
{
  color: #000000;
  text-decoration: none;
  font-weight: 100;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  width: 100%;
}

ul {
  display: flex;
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
  justify-content: center;
}

li {
  padding: 10px;
  font-size: 1.1em;
}

/* Let user know it's a link--by keeping it underlined */

/* a {
   text-decoration: none; 
}*/

/* Link animations */
a:link {
  color: #000000;
}

a:visited {
  color: #000000;
}

a:focus {
  color: #000000;
}

a:hover {
  color: #000000;
  text-decoration: underline;
  font-weight: 600;
}

a:active {
  color: #000000;
  font-weight: 600;
}

/* Main content  */

main {
  flex: 1;
  padding: 20px 0;
}

figure {
  border: 5px solid black;
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 1.5rem;
  justify-content: center;
  align-items: center;
  display: flex;
  box-shadow: 10px 10px;
  margin: 2em auto;
}

h2 {
  font-size: 2.5em;
  display: inline-block;
  text-align: center;
  background-color: #deb887;
  margin: 0;
  padding: 0.2em 0.5em;
  border-radius: 0.5rem;
  box-shadow: 10px 10px;
  border: 5px solid black;
}

.emoji-hand,
h2,
figure {
  background-color: #deb887;
}

/* Hand waving animation */
.emoji-hand {
  padding: 0.2em 0.5em;
  border-radius: 0.5rem 0 0 0.5rem;
  display: inline-block;
  animation: wave 0.5s ease-in-out infinite;
}

.greeting {
  padding: 0.2em 0.5em;
  border-radius: 0 0.5rem 0.5rem 0;
  display: inline-block;
  background-color: #deb887;
}

@keyframes wave {
  0%,
  100% {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(3deg);
  }
}

/* Paragraph content  */

article {
  display: flex;
  font-size: 1.1rem;
  font-weight: 500;
  flex-direction: column;
  line-height: 1.8;
}

p.welcome-content {
  font-size: 1.2rem;
  font-weight: bolder;
  line-height: 1.6; /* Added line-height for mobile devices */
}

/* Footer content  */

footer {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.left-content,
.right-content {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.right-content {
  margin-left: auto;
}

.footer-content {
  margin: 0;
}

.fa-brands {
  font-size: 16px;
  margin-left: 30px;
}

/* Projects Page Styling  */

.myProjects .slide-image {
  width: 100%;
  height: 600px;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.myProjects {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #000000;
  font-weight: bold;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.text {
  color: #000000;
  font-size: 2em;
  padding: 8px 12px;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #deb887;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #000000;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* Media queries */
/* Mobile Devices */
@media only screen and (max-width: 480px) {
  body {
    font-size: 14px;
  }

  h1 {
    font-size: 1.8em;
  }

  nav {
    font-size: 1.2em;
  }

  figure {
    margin: 2em auto;
    box-shadow: none;
    border: none;
  }

  h2 {
    font-size: 1.8em;
    padding: 0.1em 0.3em;
  }

  p.welcome-content {
    font-size: 1.2rem;
    font-weight: bolder;
    line-height: 1.6; /* Added line-height for mobile devices */
  }

  footer {
    flex-direction: column;
    align-items: center;
  }

  .left-content,
  .right-content {
    margin: 10px 0;
  }

  .right-content {
    margin-left: 0;
  }

  .emoji-hand,
  .greeting {
    padding: 0.1em 0.3em;
  }
}

/* Tablet Devices */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  body {
    font-size: 15px;
  }

  figure {
    margin: 3em auto;
    box-shadow: 5px 5px;
  }

  h2 {
    font-size: 2.2em;
  }

  p.welcome-content {
    font-size: 1.5rem;
    line-height: 1.5;
  }

  footer {
    font-size: 1.2em;
    font-weight: 700;
  }
}

/* Desktop Devices */
@media only screen and (min-width: 769px) {
  body {
    font-size: 16px;
  }

  header {
    flex-direction: row;
    justify-content: space-between;
  }

  nav {
    width: auto;
  }

  figure {
    width: 60%;
  }

  h2 {
    font-size: 3em;
  }
}
